/* general styles */

html {
    background-color: tan;
    background-image: 
        url('https://www.bing.com/th?id=OHR.BrightonJetty_ZH-CN1526526038_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

body {
    width: 80%;
    max-width: 960px;
    margin: 10% auto;

    background-color: ivory;
    border-radius: 10px;
    opacity: .7;
    padding: 10%;
}

button {
    border: solid rosybrown;
    border-radius: 10px;
    background-color: tan;
}


div.pmenu {
    border: 1px solid rosybrown;
    border-radius: 10px;
  }

.blog {
    background-color: tan;
    border: 0.25em solid rosybrown;
    border-radius: 10px;
}

a:link {
    color: black;
}

a:hover {
    color: rosybrown;
    text-decoration: underline wavy;
}

a:visited {
    color: royalblue;
}

a[title='Home'] {
    color: black;
}
